#home {
    width: 100%;
}

#home > div {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width:480px) {
    #home > div {
        width: 100%;
    }
}

#home>.search-container {
    position: relative;
}

#home>.search-container input {
    width: calc(100% - 3rem);
    font-size: 1.333rem;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    margin: 0 0 1rem 0;
    font-style: italic;
}

#home>.result-container>.result-header {
    display: flex;
    justify-content: space-between;

    background-color: rgba(221,221,221, 0.5);
    padding: 2rem;
    border-radius: 5px;
}
@media screen and (max-width:480px) {
    #home>.search-container input { 
        width: calc(100% - 1rem);
        padding: 0.5rem 0.5rem;
    }

    #home>.result-container>.result-header {
        padding: 0rem;
    }
}

#home>.result-container>.result-header>.basic-info {
    display: flex;
}

#home>.result-container>.result-header>.basic-info>.img {
    display: flex;
}

#home>.result-container>.result-header>.basic-info>.img > img {
    align-self: center;
    height: 6.66em;
}

#home > .result-container > .result-desciption{
    font-size: 2rem;
    padding: 2rem;
}