body {
    font-family: sans-serif;
}
body, div, p {
    margin: 0; padding: 0;
}
.hide {
    display: none !important;
}

img {
    height: 8rem;
}
#container {
    display: grid;
    grid-template-areas:
        'header-label   header-label header-nav'
        'menu           main         main'
        'menu           footer       footer';
    grid-template-rows: 3.333rem auto 1.333rem;
    grid-template-columns: min-content auto auto;

    height: 100vh;
}

#container > div {
    font-size: 1.333rem;
}

/** header **/
#container > .header {
    padding: 1rem;
    border-bottom: 1px solid #aaaaaa;
    background-color: antiquewhite;
}
#container > .header.header-label {
    grid-area: header-label;
    font-size: 1.4rem;
}

#container > .header.header-nav {
    grid-area: header-nav;
    font-size: 1.4rem;
    text-align: right;
}

/** main **/
#container > .main {
    grid-area:main;
    padding: 1rem;
}

/** footer **/
#container > .footer {
    padding-left: 1rem;
    grid-area: footer;
    font-size: 0.8rem;
}