#container > .menu .toggle a:not(:first-of-type) {
    margin-left: 0.8rem;
}

#container.mini-menu > .menu .toggle a {
    margin-left: 0rem;
}
#container.mini-menu > .menu .toggle a:not(:first-of-type) {
    margin-top: 1rem;
}

#container > .menu {
    grid-area:menu;
    background-color: rgba(221,221,221, 0.5);
    border-radius: 2%;
    position: relative;
}

#container > .menu > #showHideMenu {
    position: absolute;
    cursor: pointer;
    left: 4.7rem;
    background-color: rgba(150, 220, 50, 0.5);
    border-radius: 100%;
    font-size: 2.333rem;
    font-family: monospace;
    transition: all 2s;
}

#container > .menu > div:first-of-type {
    margin-top: 2rem;
}

#container.mini-menu > .menu > #showHideMenu {
    left: 1.333rem;
    transform: rotate(180deg);
    font-size: 1.333rem;
}

#container.mini-menu > .menu > .toggle {
    padding-left: 0;
}

#container.mini-menu > .menu > .toggle > h3 {
    font-size: 0;
}