.weather-list {
    padding-top: 1rem;
    display: flex;
    place-content: space-evenly;
    flex-wrap: wrap;
}

.weather-list > div {
    min-width: 13rem;
    margin-bottom: 1rem;
}

.weather-list > div > div {
    padding: 1.5rem;
}

.weather-list > div:nth-child(2n) {
    background-color: rgba(221,221,221, 0.5);
}